/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
div#menu{
  font-size:10px;
	font-weight:normal;
	background-color: #000;
	color:#8dd1ff;
}

div#lista{
	font-size:10px;
	font-weight:normal;
	background-color: #000;
	color:#8dd1ff;
	height:440px; 
	width:44%;
}

#lista {
	text-align: center;
	margin: 10px auto;
	display: inline-block;
}

#lista p
{
	color: #fff;
	}

.movie {
	text-align: center;
}

#lista iframe
{
	width:90%;
}
a {
	text-decoration:none;
	}
nav.on_video
{
	font-size: 2em;
	text-align:center;
	
	}

a:hover
{
	text-decoration: underline;
	}
.blanco {
	color: #fff;
	}
.titulo_logo {
	color: #8dd1ff;
	text-decoration: none;
	}
table#footerlista{
	background-color: #A7E009;
	width: 100%;
	overlay:hidden;
	position:relative;
	color: #000;
}

#footerlista tr{
	width:44%;
	}

div#titulo{
	font-size:10px;
	font-weight:normal;
	background-color: #000;
	color:#8dd1ff;
	width:460px;
}

body#bgcolor{
	font-size:10px;
	font-weight:normal;
	background-color: #33363B;
	color:#fff;

}

p {

	text-align: center;
}

a#linkcustom:link {
COLOR: #8dd1ff;
}
a#linkcustom:visited {
COLOR: #8dd1ff;
}
a#linkcustom:hover {
COLOR: #8dd1ff;
}
a#linkcustom:active {
COLOR: #8dd1ff;
}

